@import "./resets";
@import "./variables";
@import "./functions-and-mixins";

/* Medium devices and desktops (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .display-top-mobile-drawer,
  .top-header,
  .hold-the-drawer-abeg,
  .navigation-mobile {
    display: none;
  }

  //   header-tag styles
  .top-header-desktop {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

    .left-side > * {
      margin-right: 1.25em;
    }

    .left-side {
      @include flexCenter;
      svg {
        fill: #fff;
        cursor: pointer;
        &:hover {
          fill: $hover-color;
        }
      }

      input {
        max-width: 100%;
        background-position: 96% 50%;
      }

      nav.toppest-nav {
        display: inline-block;
        ul {
          li {
            display: inline-block;
            margin-right: 0.625em;

            a {
              display: block;
              text-decoration: none;
              color: #fff;
              font-weight: weights(bold);

              &:hover {
                color: $hover-color;
              }
            }
          }
          li:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .right-side {
      @include flexCenter;

      a {
        color: transparent;
        margin-left: 1em;
        svg {
          fill: #fff;
        }
      }

      .notif {
        position: relative;
      }

      .notif > :nth-child(2) {
        fill: #3690f8;
        position: absolute;
        top: -5px;
        right: -2px;
      }

      .spaced > :nth-child(2) {
        margin-left: 0.2em;
      }
    }
  }

  //   styles for the main-tag content
  main {
    margin-top: 2em;

    //   main navigation styles for larger screens
    .navigation-desktop {
      display: block;
      background: #fff;
      border-bottom: 1px #e1e4e8 solid;
      .main-nav {
        div {
          .col-3 {
            @include flexCenter;
            span {
            }
            b {
              margin-left: 0.5em;
            }
          }

          .main-nav-links {
            .links {
              margin-top: 1em;
              display: flex;
              overflow-x: auto;
              text-transform: capitalize;
              a:link {
                span {
                  @include flexCenter;

                  .repo-number {
                    margin-left: 0.5em;
                    background: #e8eaec;
                    padding: 0.1em 0.5em;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 0.9em;
                  }
                }
              }

              a {
                color: $base-black-background;
                display: block;
                text-decoration: none;
                padding: 0 1em 1em;

                &:hover {
                  border-bottom: 2px solid $hover-color;
                }

                svg {
                  fill: $svg-colors;
                  margin-right: 0.5em;
                }
              }
            }
          }
        }
      }
    }

    // main content
    .main-content {
      .bio-area {
        margin-top: -2.44em;
        .bio-status {
          display: grid;
          img {
            cursor: pointer;
            // margin: 0 auto 1em;
            margin-bottom: 1em;
          }

          .name {
            b {
              font-size: 2em;
              display: block;
              color: $base-black-background;
            }

            span {
              font-size: 1.5em;
            }
          }
        }

        .status {
          display: block;
          position: relative;
          text-decoration: none;

          .float-stat {
            border: 1px solid #e1e4e8;
            position: absolute;
            top: -165px;
            right: -8.9em;
            padding: 0.5em 0.7em;
            background: #fff;
            border-radius: 100px;
            .status-text {
              color: $base-black-background;
              // visibility: hidden;
              margin-left: 0.5em;
              text-transform: capitalize;
              font-size: 1em;
            }
          }
        }

        .bio-text {
          margin-top: 1em;
          color: $base-black-background;
          font-size: 1.19em;
        }

        .button {
          display: block;
          width: 100%;
          background: #fafbfc;
          padding: 0.5em 0;
          border: 1px solid $hover-color;
          border-radius: 5px;
          font-size: 1em;
          color: $base-black-background;
          margin: 1.5em 0;
          cursor: pointer;

          &:hover {
            background: #f3f4f6;
          }
        }

        .contact {
          display: flex;
          flex-direction: column;

          .email > span {
            margin-bottom: 0.5em;
          }
          .email {
            display: flex;
            flex-direction: column;
            order: 2;
            margin-top: 1.5em;
            .social {
              color: $base-black-background;
              display: flex;
              align-items: center;
              svg {
                fill: $faded-text-black;
                margin-right: 0.5em;
              }
              a {
                text-decoration: none;
                color: $base-black-background;
                &:hover {
                  text-decoration: underline;
                  color: blue;
                }
              }
            }
          }

          .following {
            display: flex;
            order: 1;
            a {
              margin-right: 0.5em;
              text-decoration: none;
              color: $base-black-background;

              &:hover {
                color: blue;
              }
            }
          }
          .following a:link:nth-child(odd) {
            @include flexCenter;
            svg {
              margin-right: 0.5em;
            }
          }

          .following a:link:nth-last-child() {
            margin-right: 0;
          }
        }
      }
    }

    .content {
      display: grid;
      grid-template-columns: 22% auto;
      grid-column-gap: 2em;
    }

    .content-nav {
      display: grid;
      grid-template-columns: 26% auto;
      //  grid-column-gap: 2em;
    }

    .repos {
      .repositories {
        .search-repo {
          // margin: 1em 0;
          // padding: 1em 1.2em;
          // background: red;
          padding: 1em 1.2em;
          display: flex;
          align-items: center;
          // justify-content: space-between;
          // display: inline-block;

          input {
            // max-width: 50%;
            // background-color: green;
            margin-right: 2em;
            flex-grow: 8;
            padding: 0.5em 0.5em;
            border-radius: 5px;
            border: 1px solid $hover-color;
            align-self: center;
            padding-left: 1em;
          }

          ::placeholder {
            // color: $hover-color;
          }

          .search-repo-buttons {
            // margin-right: auto;
            // display: inline-block;
            display: flex;
            // align-items: center;
            // justify-content: space-between;
            div {
              margin-right: 1em;
              .button-white {
                @include button(#fafbfc, #f3f4f6);
              }
            }
            .button-green {
              @include icon-button(#2ea44f, #2c974b);
            }
          }
        }
      }
    }
  }

  .footer {
    margin: 0.5em 3em;
    ul {
      margin: 0 auto;
      max-width: 1280px;
      padding: 3em 1.2em;
      border-top: 1px #e1e4e8 solid;
      font-size: 0.9em;
      text-align: center;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        list-style: none;
        // display: ;
        padding: 0 0.5em;
        a {
          color: blue;
          text-decoration: none;
          text-transform: capitalize;
          &:hover {
            text-decoration: underline;
          }

          svg {
            fill: $hover-color;

            &:hover {
              fill: $faded-text-black;
            }
          }
        }
      }
    }
  }
}
