@import "./resets";
@import "./variables";
@import "./functions-and-mixins";

/* Medium devices and desktops (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .display-top-mobile-drawer,
  .top-header,
  .hold-the-drawer-abeg {
    display: none;
  }

  .top-header-desktop {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

    .left-side > * {
      margin-right: 1.25em;
    }

    .left-side {
      @include flexCenter;
      svg {
        fill: #fff;
        cursor: pointer;
        &:hover {
          fill: $hover-color;
        }
      }

      input {
        max-width: 100%;
        background-position: 96% 50%;
      }

      nav.toppest-nav {
        display: inline-block;
        ul {
          li {
            display: inline-block;
            margin-right: 0.625em;

            a {
              display: block;
              text-decoration: none;
              color: #fff;
              font-weight: weights(bold);

              &:hover {
                color: $hover-color;
              }
            }
          }
          li:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .right-side {
      @include flexCenter;

       a {
           color: transparent;
           margin-left: 1em;
        svg {
          fill: #fff;
        }
      }

      .notif {
        position: relative;
      }

      .notif > :nth-child(2) {
        fill: #3690f8;
        position: absolute;
        top: -5px;
        right: -2px;
      }

      .spaced > :nth-child(2) {
        margin-left: 0.2em;
      }
    }
  }
}
