@import "./resets";
@import "./variables";
@import "./functions-and-mixins";

/* Medium devices and desktops (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .display-top-mobile-drawer,
  .top-header,
  .hold-the-drawer-abeg {
    display: none;
  }

  //   header-tag styles
  .top-header-desktop {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;

    .left-side > * {
      margin-right: 1.25em;
    }

    .left-side {
      @include flexCenter;
      svg {
        fill: #fff;
        cursor: pointer;
        &:hover {
          fill: $hover-color;
        }
      }

      input {
        max-width: 100%;
        background-position: 96% 50%;
      }

      nav.toppest-nav {
        display: inline-block;
        ul {
          li {
            display: inline-block;
            margin-right: 0.625em;

            a {
              display: block;
              text-decoration: none;
              color: #fff;
              font-weight: weights(bold);

              &:hover {
                color: $hover-color;
              }
            }
          }
          li:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .right-side {
      @include flexCenter;

      a {
        color: transparent;
        margin-left: 1em;
        svg {
          fill: #fff;
        }
      }

      .notif {
        position: relative;
      }

      .notif > :nth-child(2) {
        fill: #3690f8;
        position: absolute;
        top: -5px;
        right: -2px;
      }

      .spaced > :nth-child(2) {
        margin-left: 0.2em;
      }
    }
  }

  //   styles for the main-tag content
  main {
    margin-top: 2em;

    //   main navigation styles for larger screens
    .navigation-desktop {
      display: block;
      background: #fff;
      border-bottom: 1px #e1e4e8 solid;
      .main-nav {
        div {
          .col-4 {
            @include flexCenter;
            span {
            }
            b {
              margin-left: 0.5em;
            }
          }

          .main-nav-links {
            .links {
              margin-top: 1em;
              display: flex;
              overflow-x: auto;
              text-transform: capitalize;
              a:link {
                span {
                  @include flexCenter;

                  .repo-number {
                    margin-left: 0.5em;
                    background: #e8eaec;
                    padding: 0.1em 0.5em;
                    border-radius: 50%;
                    display: inline-block;
                    font-size: 0.9em;
                  }
                }
              }

              a {
                color: $base-black-background;
                display: block;
                text-decoration: none;
                padding: 0 1em 1em;

                &:hover {
                  border-bottom: 2px solid $hover-color;
                }

                svg {
                  fill: $svg-colors;
                  margin-right: 0.5em;
                }
              }
            }
          }
        }
      }
    }

    // main content
    .main-content {
      
    }
  }
}
