@import "./resets";
@import "./variables";
@import "./functions-and-mixins";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 768px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }

  // hidden classes
  .hide,
  .top-header-desktop,
  .navigation-desktop {
    display: none !important;
  }

  // header-tag styles
  .hold-the-drawer-abeg {
    position: relative;
    transition-property: border-radius, background-color;
  }

  .top-header {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    svg {
      fill: #fff;
      cursor: pointer;
      &:hover {
        fill: $hover-color;
      }
    }
    span {
      position: relative;
    }
    span > :nth-child(2) {
      fill: #3690f8;
      position: absolute;
      top: -5px;
      right: -2px;
    }
  }

  //   display the drawer on menu toggle
  .display-top-mobile-drawer {
    display: block;
    padding-top: 1em;
    input[type="text"] {
      color: #fff;
    }
    input {
      margin-bottom: 1em;
      width: 100%;
      background-position: 99% 50%;
      padding-right: 2em;
    }

    .mobi-links {
      list-style-type: none;
      li {
        border-top: 1px solid $faded-text-black;
        a {
          display: block;
          padding: 0.8em 0;
          color: #fff;
          text-decoration: none;
          font-weight: weights(bold);
        }
      }
    }
  }

  //   main content area
  .main-content {
    // biography
    .bio-area {
      padding: 0.5em 1.2em;
    }

    .bio-status {
      @include flexCenter;
      img {
        height: 100px;
      }

      .name {
        margin-left: 1em;
        font-size: 2em;
        // max-width: 46%;
        max-width: 65%;

        b {
          display: block;
          color: $base-black-background;
        }

        .username {
          font-size: 0.7em;
        }
      }
    }

    .status {
      margin-top: 2em;
      border: 0.5px solid $hover-color;
      border-radius: 5px;
      padding: 0.5em 0.5em;
      @include flexCenter;
      text-decoration: none;

      .status-text {
        text-transform: capitalize;
        font-size: 0.9em;
        margin-left: 0.5em;
        color: $base-black-background;

        &:hover {
          color: inherit;
        }
      }
    }
    .bio-text {
      margin: 1em 0;
      color: $base-black-background;
      font-size: 1.19em;
      // word-spacing: .1em;
    }

    .button {
      display: block;
      width: 100%;
      background: #fafbfc;
      padding: 0.5em 0;
      border: 1px solid $hover-color;
      border-radius: 5px;
      font-size: 1em;
      color: $base-black-background;
      margin-bottom: 1em;
      cursor: pointer;

      &:hover {
        background: #f3f4f6;
      }
    }

    .contact {
      margin-bottom: 2em;
      .email {
        margin-bottom: 0.5em;
        @include flexCenter;
        svg {
          fill: $faded-text-black;
          margin-right: 0.5em;
        }
        a {
          color: $base-black-background;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
            color: blue;
          }
        }
      }

      .following {
        display: flex;
      }

      .following a:nth-child(odd) {
        @include flexCenter;
        svg {
          margin-right: 0.5em;
        }
      }

      .following a {
        margin-right: 0.5em;
        text-decoration: none;
        color: $base-black-background;

        &:hover {
          color: blue;
        }
        // svg{ //check this guy head well later
        //   fill: red;
        // }
      }
      .following a:nth-last-child() {
        margin-right: 0;
      }
    }

    .repos {
      // mobile navigation
      .navigation-mobile {
        background: #fff;
        border-bottom: 1px #e1e4e8 solid;
        .links-mobile {
          padding: 0 1.5em;
          margin-top: 1em;
          display: flex;
          overflow-x: auto;
          text-transform: capitalize;
          a {
            span {
              @include flexCenter;

              .repo-number {
                margin-left: 0.5em;
                background: #e8eaec;
                padding: 0.1em 0.5em;
                border-radius: 50%;
                display: inline-block;
                font-size: 0.9em;
              }
            }
          }

          a {
            color: $base-black-background;
            display: block;
            text-decoration: none;
            padding: 0 1em 1em;

            &:hover {
              border-bottom: 2px solid $hover-color;
            }

            svg {
              fill: $svg-colors;
              margin-right: 0.5em;
            }
          }
        }
      }

      .repositories {
        .search-repo {
          margin: 1em 0;
          // padding: 1em 1.2em;
          padding: 0 1.2em;

          input {
            width: 100%;
            padding: 0.5em 0.5em;
            border-radius: 5px;
            border: 1px solid $hover-color;
            align-self: center;
            padding-left: 1em;
          }

          ::placeholder {
            // color: $hover-color;
          }
          .search-repo-buttons {
            margin-top: 1em;
            display: flex;
            justify-content: space-between;
            div {
              .button-white {
                @include button(#fafbfc, #f3f4f6);
              }
            }
            .button-green {
              @include icon-button(#2ea44f, #2c974b);
            }
          }
        }

        .list-of-repos {
          padding: 0 1.2em;
          .single-repo {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-content: space-between;
            border-top: 1px #e1e4e8 solid;
            padding: 2em 0;
            .repo-details {
              .repo-title {
                padding-bottom: 1em;
                h2 {
                  display: inline-block;
                  a:link,
                  a:visited {
                    color: #0366d6;
                    text-decoration: none;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                }

                span {
                  margin-left: 0.5em;
                  border: 1px solid $hover-color;
                  border-radius: 15px;
                  padding: 0.1em 0.4em;
                  font-size: 0.9em;
                }
              }

              .language {
                text-transform: uppercase;
                font-size: 0.9em;

                svg {
                  fill: #e34c26;
                }
              }

              .timeframe {
                margin-left: 1em;
                font-size: 0.9em;
              }
            }

            .repo-starred {
              .star {
                @include flexCenter;
                color: $base-black-background;
                padding: 0.4em 0.9em;
                border-radius: 5px;
                border: none;
                border: 1px solid $hover-color;
                background: #fafbfc;
                font-size: 1em;
                cursor: pointer;

                &:hover {
                  background: #f3f4f6;
                }

                span {
                  margin-left: 0.5em;
                  font-size: 0.9em;
                }
              }
            }
          }
        }
      }
    }
  }
}
