@import "./resets";
@import "./variables";
@import "./functions-and-mixins";

body {
  color: $faded-text-black;
  font-family: "Roboto", sans-serif;
  font-weight: weights(regular);
}

// the grid system to be used
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.hide{
  display: none;
}


// header styles
header {
  background: $base-black-background;
  padding: 1em 1.2em;

  .display-top-mobile-drawer {
    ::placeholder {
      color: $hover-color;
    }
  }
  input {
    padding: 0.4em 0.5em;
    border-radius: 0.3125em;
    background: transparent url(./../images/search-key-slash.svg) right
      no-repeat;
    align-self: center;
    padding-left: 1em;
    border: 1px solid $faded-text-black;
  }
}

// main content
// TODO:: have to make up my mind which screen size to pick here
.main-content {
  max-width: 1180px;
  // max-width: 1012px;
  // background: red;
  // max-width: 1024px;
  // margin-top: 2.5em;
  margin: 0 auto 0;
}

.repositories {
  .search-repo {
    input:focus {
      // border: 1px solid blue;
    }
  }
    .list-of-repos {
    padding: 0 1.2em;
    .single-repo {
      display: grid;
      grid-template-columns: 70% auto;
      align-items: center;
      justify-content: space-between;
      border-top: 1px #e1e4e8 solid;
      padding: 2em 0;
      .repo-details {
        .repo-title {
          padding-bottom: 1em;
          h2 {
            display: inline-block;
            a {
              color: #0366d6;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          span {
            margin-left: 0.5em;
            border: 1px solid $hover-color;
            border-radius: 15px;
            padding: 0.1em 0.4em;
            font-size: 0.9em;
          }

          p {
            padding: .5em 0 0;
            small {
              padding: 0 0 .5em;
            }
          }
        }

        .language {
          display: flex;
          align-items: center;

          a {
            display: flex;
            align-items: center;
            color: $faded-text-black;
            text-decoration: none;
            &:hover {
              color: blue;
            }
            span {
              // color: green;
              font-size: .9em;
            }
          }
          .license {
            display: flex;
            align-items: center;
          }

          span{
            span{
              font-size: .9em;
            }
          }

          svg {
            // fill: #e34c26;
          }
        }

        .language > * {
          margin-right: 1.5em;
        }

        .timeframe {
          // margin-left: 1em;
          font-size: 0.9em;
        }
      }

      .repo-starred {
        .star {
          @include flexCenter;
          color: $base-black-background;
          padding: 0.4em 0.9em;
          border-radius: 5px;
          border: none;
          border: 1px solid $hover-color;
          background: #fafbfc;
          font-size: 1em;
          cursor: pointer;

          &:hover {
            background: #f3f4f6;
          }

          span {
            margin-left: 0.5em;
            font-size: 0.9em;
          }
        }
      }
    }
  }
}
