$faded-text-black: #586069;
$secondary-color-blue: #0366d6;
$base-black-background: #24292e; //use same for the normal texts that isnt faded
$hover-color: #c8c2b7;
$svg-colors: #959da5;
$font-weights: (
  "regular": 400,
  "bold": 700,
);