@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.875em;
}

/* Medium devices and desktops (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .display-top-mobile-drawer,
  .top-header,
  .hold-the-drawer-abeg {
    display: none;
  }
  .top-header-desktop {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .top-header-desktop .left-side > * {
    margin-right: 1.25em;
  }
  .top-header-desktop .left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-header-desktop .left-side svg {
    fill: #fff;
    cursor: pointer;
  }
  .top-header-desktop .left-side svg:hover {
    fill: #c8c2b7;
  }
  .top-header-desktop .left-side input {
    max-width: 100%;
    background-position: 96% 50%;
  }
  .top-header-desktop .left-side nav.toppest-nav {
    display: inline-block;
  }
  .top-header-desktop .left-side nav.toppest-nav ul li {
    display: inline-block;
    margin-right: 0.625em;
  }
  .top-header-desktop .left-side nav.toppest-nav ul li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: 700;
  }
  .top-header-desktop .left-side nav.toppest-nav ul li a:hover {
    color: #c8c2b7;
  }
  .top-header-desktop .left-side nav.toppest-nav ul li:last-child {
    margin-right: 0;
  }
  .top-header-desktop .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .top-header-desktop .right-side a {
    color: transparent;
    margin-left: 1em;
  }
  .top-header-desktop .right-side a svg {
    fill: #fff;
  }
  .top-header-desktop .right-side .notif {
    position: relative;
  }
  .top-header-desktop .right-side .notif > :nth-child(2) {
    fill: #3690f8;
    position: absolute;
    top: -5px;
    right: -2px;
  }
  .top-header-desktop .right-side .spaced > :nth-child(2) {
    margin-left: 0.2em;
  }
  main {
    margin-top: 2em;
  }
  main .navigation-desktop {
    display: block;
    background: #fff;
    border-bottom: 1px #e1e4e8 solid;
  }
  main .navigation-desktop .main-nav div .col-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .navigation-desktop .main-nav div .col-4 b {
    margin-left: 0.5em;
  }
  main .navigation-desktop .main-nav div .main-nav-links .links {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto;
    text-transform: capitalize;
  }
  main .navigation-desktop .main-nav div .main-nav-links .links a:link span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .navigation-desktop .main-nav div .main-nav-links .links a:link span .repo-number {
    margin-left: 0.5em;
    background: #e8eaec;
    padding: 0.1em 0.5em;
    border-radius: 50%;
    display: inline-block;
    font-size: 0.9em;
  }
  main .navigation-desktop .main-nav div .main-nav-links .links a {
    color: #24292e;
    display: block;
    text-decoration: none;
    padding: 0 1em 1em;
  }
  main .navigation-desktop .main-nav div .main-nav-links .links a:hover {
    border-bottom: 2px solid #c8c2b7;
  }
  main .navigation-desktop .main-nav div .main-nav-links .links a svg {
    fill: #959da5;
    margin-right: 0.5em;
  }
  main .main-content .bio-area {
    margin-top: -2.44em;
  }
  main .main-content .bio-area .bio-status {
    display: -ms-grid;
    display: grid;
  }
  main .main-content .bio-area .bio-status img {
    cursor: pointer;
    margin-bottom: 1em;
  }
  main .main-content .bio-area .bio-status .name b {
    font-size: 2em;
    display: block;
    color: #24292e;
  }
  main .main-content .bio-area .bio-status .name span {
    font-size: 1.5em;
  }
  main .main-content .bio-area .status {
    display: block;
    position: relative;
    text-decoration: none;
  }
  main .main-content .bio-area .status .float-stat {
    position: absolute;
    top: -165px;
    right: -8.9em;
    padding: 0.5em 0.7em;
    background: #fff;
    border-radius: 100px;
  }
  main .main-content .bio-area .status .float-stat .status-text {
    margin-left: 0.5em;
    text-transform: capitalize;
    font-size: 1em;
  }
  main .main-content .bio-area .bio-text {
    margin-top: 1em;
    color: #24292e;
    font-size: 1.19em;
  }
  main .main-content .bio-area .button {
    display: block;
    width: 100%;
    background: #fafbfc;
    padding: 0.5em 0;
    border: 1px solid #c8c2b7;
    border-radius: 5px;
    font-size: 1em;
    color: #24292e;
    margin: 1.5em 0;
    cursor: pointer;
  }
  main .main-content .bio-area .button:hover {
    background: #f3f4f6;
  }
  main .main-content .bio-area .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .main-content .bio-area .contact .email > span {
    margin-bottom: 0.5em;
  }
  main .main-content .bio-area .contact .email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 1.5em;
  }
  main .main-content .bio-area .contact .email .social {
    color: #24292e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main-content .bio-area .contact .email .social svg {
    fill: #586069;
    margin-right: 0.5em;
  }
  main .main-content .bio-area .contact .email .social a {
    text-decoration: none;
    color: #24292e;
  }
  main .main-content .bio-area .contact .email .social a:hover {
    text-decoration: underline;
    color: blue;
  }
  main .main-content .bio-area .contact .following {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  main .main-content .bio-area .contact .following a {
    margin-right: 0.5em;
    text-decoration: none;
    color: #24292e;
  }
  main .main-content .bio-area .contact .following a:hover {
    color: blue;
  }
  main .main-content .bio-area .contact .following a:link:nth-child(odd) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .main-content .bio-area .contact .following a:link:nth-child(odd) svg {
    margin-right: 0.5em;
  }
  main .main-content .bio-area .contact .following a:link:nth-last-child() {
    margin-right: 0;
  }
}
/*# sourceMappingURL=larger-screen-styles.css.map */