@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0.875em;
}

body {
  color: #586069;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.hide {
  display: none;
}

header {
  background: #24292e;
  padding: 1em 1.2em;
}

header .display-top-mobile-drawer ::-webkit-input-placeholder {
  color: #c8c2b7;
}

header .display-top-mobile-drawer :-ms-input-placeholder {
  color: #c8c2b7;
}

header .display-top-mobile-drawer ::-ms-input-placeholder {
  color: #c8c2b7;
}

header .display-top-mobile-drawer ::placeholder {
  color: #c8c2b7;
}

header input {
  padding: 0.4em 0.5em;
  border-radius: 0.3125em;
  background: transparent url(./../images/search-key-slash.svg) right no-repeat;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 1em;
  border: 1px solid #586069;
}

.main-content {
  max-width: 1180px;
  margin: 0 auto 0;
}

.repositories .list-of-repos {
  padding: 0 1.2em;
}

.repositories .list-of-repos .single-repo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% auto;
      grid-template-columns: 70% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px #e1e4e8 solid;
  padding: 2em 0;
}

.repositories .list-of-repos .single-repo .repo-details .repo-title {
  padding-bottom: 1em;
}

.repositories .list-of-repos .single-repo .repo-details .repo-title h2 {
  display: inline-block;
}

.repositories .list-of-repos .single-repo .repo-details .repo-title h2 a {
  color: #0366d6;
  text-decoration: none;
}

.repositories .list-of-repos .single-repo .repo-details .repo-title h2 a:hover {
  text-decoration: underline;
}

.repositories .list-of-repos .single-repo .repo-details .repo-title span {
  margin-left: 0.5em;
  border: 1px solid #c8c2b7;
  border-radius: 15px;
  padding: 0.1em 0.4em;
  font-size: 0.9em;
}

.repositories .list-of-repos .single-repo .repo-details .repo-title p {
  padding: .5em 0 0;
}

.repositories .list-of-repos .single-repo .repo-details .repo-title p small {
  padding: 0 0 .5em;
}

.repositories .list-of-repos .single-repo .repo-details .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repositories .list-of-repos .single-repo .repo-details .language a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #586069;
  text-decoration: none;
}

.repositories .list-of-repos .single-repo .repo-details .language a:hover {
  color: blue;
}

.repositories .list-of-repos .single-repo .repo-details .language a span {
  font-size: .9em;
}

.repositories .list-of-repos .single-repo .repo-details .language .license {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.repositories .list-of-repos .single-repo .repo-details .language span span {
  font-size: .9em;
}

.repositories .list-of-repos .single-repo .repo-details .language > * {
  margin-right: 1.5em;
}

.repositories .list-of-repos .single-repo .repo-details .timeframe {
  font-size: 0.9em;
}

.repositories .list-of-repos .single-repo .repo-starred .star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #24292e;
  padding: 0.4em 0.9em;
  border-radius: 5px;
  border: none;
  border: 1px solid #c8c2b7;
  background: #fafbfc;
  font-size: 1em;
  cursor: pointer;
}

.repositories .list-of-repos .single-repo .repo-starred .star:hover {
  background: #f3f4f6;
}

.repositories .list-of-repos .single-repo .repo-starred .star span {
  margin-left: 0.5em;
  font-size: 0.9em;
}
/*# sourceMappingURL=styles.css.map */